.item{
  color: rgb(8, 12, 3);
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.postMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.postMessage img {
  margin-right: 10px;
}