.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 10px;
    text-decoration: none;
}

.dialogsItems .active {
    padding: 10px;
    color: gold;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages .message {}